<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>后台管理</title>
    <link rel="stylesheet" href="/static/layui/css/layui.css">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">后台管理</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="">控制台</a></li>
            <li class="layui-nav-item"><a href="">商品管理</a></li>
            <li class="layui-nav-item"><a href="">用户</a></li>
            <li class="layui-nav-item">
                <a href="javascript:;">其它系统</a>
                <dl class="layui-nav-child">
                    <dd><a href="">邮件管理</a></dd>
                    <dd><a href="">消息管理</a></dd>
                    <dd><a href="">授权管理</a></dd>
                </dl>
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:void (0);">
                    <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                    <sapn id="usernmae"></sapn>
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">基本资料</a></dd>
                    <dd><a href="">安全设置</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="/logout">退了</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree"  lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:void(0);">所有商品</a>
                    <dl class="layui-nav-child">
                        <dd id="d1"><a href="javascript:void (0);">查看课程</a></dd>
                        <dd id="d2"><a href="javascript:void (0);">添加首页轮播图</a></dd>
                        <dd id="d3"><a href="javascript:void (0);">分类管理</a></dd>
                        <dd id="d4"><a href="javascript:void (0)">4会员中心member.html</a></dd>
                        <dd id="d5"><a href="javascript:void (0)">5个人中心.html</a></dd>
                        <dd id="d6"><a href="javascript:void (0)">6video.html</a></dd>
                        <dd id="d7"><a href="javascript:void (0)">list-course.html</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">解决方案</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">列表一</a></dd>
                        <dd><a href="javascript:;">列表二</a></dd>
                        <dd><a href="">超链接</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a href="">云市场</a></li>
                <li class="layui-nav-item"><a href="">发布商品</a></li>
            </ul>
        </div>
    </div>

    <div class="layui-body">
        <iframe id="mainIframe" name="mainIframe" height="100%" width="100%" src="http://www.baidu.com" frameborder="0" scrolling="auto" ></iframe>
    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
    </div>
</div>
<script src="/static/layui/layui.js"></script>
<script src="/static/js/jquery.min.js"></script>
<script>
    $(function () {
        /*得到用户信息*/
        $.get("/getUser",function (res) {
            $("#usernmae").html(res.data.nickname)
        })
    })
    $("#d1").click(function () {
        $("#mainIframe").attr("src","/admin/coursemanage")
        console.log($("#mainIframe").attr("src"))
    })
    $("#d2").click(function () {
        $("#mainIframe").attr("src","/static/html/首页轮播图.html")
        console.log($("#mainIframe").attr("src"))
    })
    $("#d3").click(function () {
        $("#mainIframe").attr("src","/static/html/分类管理.html")
        console.log($("#mainIframe").attr("src"))
    })
    $("#d4").click(function () {
        $("#mainIframe").attr("src","/static/html/4会员中心member.html")
        console.log($("#mainIframe").attr("src"))
    })
    $("#d5").click(function () {
        $("#mainIframe").attr("src","/static/html/5个人中心.html")
        console.log($("#mainIframe").attr("src"))
    })
    $("#d6").click(function () {
        $("#mainIframe").attr("src","/static/html/6video.html")
        console.log($("#mainIframe").attr("src"))
    })
    $("#d7").click(function () {
        $("#mainIframe").attr("src","/static/html/list-course.html")
        console.log($("#mainIframe").attr("src"))
    })

    //JavaScript代码区域
    layui.use('element', function(){
        var element = layui.element;
        
    });
</script>
</body>
</html>