<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.edu.demo1.mapper.CourseTypeMapper">
  <resultMap id="BaseResultMap" type="com.edu.demo1.domain.CourseType">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="type_name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="type_miaoshu" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="info1" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="info2" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, type_name, type_miaoshu, info1, info2
  </sql>
  <select id="selectByExample" parameterType="com.edu.demo1.domain.CourseTypeExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from course_type
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from course_type
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from course_type
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.edu.demo1.domain.CourseTypeExample">
    delete from course_type
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.edu.demo1.domain.CourseType">
    insert into course_type (id, type_name, type_miaoshu, 
      info1, info2)
    values (#{id,jdbcType=INTEGER}, #{typeName,jdbcType=VARCHAR}, #{typeMiaoshu,jdbcType=VARCHAR}, 
      #{info1,jdbcType=VARCHAR}, #{info2,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.edu.demo1.domain.CourseType">
    insert into course_type
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="typeName != null">
        type_name,
      </if>
      <if test="typeMiaoshu != null">
        type_miaoshu,
      </if>
      <if test="info1 != null">
        info1,
      </if>
      <if test="info2 != null">
        info2,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="typeName != null">
        #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="typeMiaoshu != null">
        #{typeMiaoshu,jdbcType=VARCHAR},
      </if>
      <if test="info1 != null">
        #{info1,jdbcType=VARCHAR},
      </if>
      <if test="info2 != null">
        #{info2,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.edu.demo1.domain.CourseTypeExample" resultType="java.lang.Long">
    select count(*) from course_type
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update course_type
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.typeName != null">
        type_name = #{record.typeName,jdbcType=VARCHAR},
      </if>
      <if test="record.typeMiaoshu != null">
        type_miaoshu = #{record.typeMiaoshu,jdbcType=VARCHAR},
      </if>
      <if test="record.info1 != null">
        info1 = #{record.info1,jdbcType=VARCHAR},
      </if>
      <if test="record.info2 != null">
        info2 = #{record.info2,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update course_type
    set id = #{record.id,jdbcType=INTEGER},
      type_name = #{record.typeName,jdbcType=VARCHAR},
      type_miaoshu = #{record.typeMiaoshu,jdbcType=VARCHAR},
      info1 = #{record.info1,jdbcType=VARCHAR},
      info2 = #{record.info2,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.edu.demo1.domain.CourseType">
    update course_type
    <set>
      <if test="typeName != null">
        type_name = #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="typeMiaoshu != null">
        type_miaoshu = #{typeMiaoshu,jdbcType=VARCHAR},
      </if>
      <if test="info1 != null">
        info1 = #{info1,jdbcType=VARCHAR},
      </if>
      <if test="info2 != null">
        info2 = #{info2,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.edu.demo1.domain.CourseType">
    update course_type
    set type_name = #{typeName,jdbcType=VARCHAR},
      type_miaoshu = #{typeMiaoshu,jdbcType=VARCHAR},
      info1 = #{info1,jdbcType=VARCHAR},
      info2 = #{info2,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>